<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary" lines="none">
      <ion-button slot="end" fill="clear">
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <p>Consulta de Transferencia Patrimonial</p>
  </div>

  <form class="pesquisa" #form="ngForm" [formGroup]="logForm" (ngSubmit)="submit()">
    <ion-row>
      <ion-col>
        <ion-input fill="outline" label="Plaqueta" labelPlacement="floating" (focusout)="plaquetaSelecionada()"
          type="text" formControlName="plaqueta"></ion-input>
      </ion-col>
    </ion-row>

    <div>
      <ion-button expand="block" type="submit">CONSULTAR TRANSFERENCIA</ion-button>
    </div>
  </form>

  <!-- <div>
    <p>Desenvolvido por: </p>
    <img src="../../../../assets/logo-js-softwares.png" alt="">
  </div> -->




  <ion-modal [isOpen]="isModalOpen">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Plaqueta: {{plaqueta}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">SAIR</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="patrimonio" *ngFor="let patrimonio of patrimonios" value="patrimonio.id">
          <div>
            <ion-row>
              <ion-col>
                <p><span>Data/Hora de transferencia: </span>{{dataHora}}</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p><span>De Dpto.: </span>{{patrimonio.deptoAnterior}}</p>
              </ion-col>
              <ion-col>
                <p><span>Para Depto.: </span>{{patrimonio.deptoTransferencia.nome}}</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p><span>Localização anterior: </span>{{patrimonio.localAnterior}}</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p><span>Obs.: </span>{{patrimonio.obsAnterior}}</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p><span>Usuário alteração: </span></p>
              </ion-col>
            </ion-row>
          </div>
          <div>
            <ion-button expand="block" (click)="emitir(patrimonio.id)">REEMITIR TERMO</ion-button>
          </div>
        </div>
      </ion-content>

      <ion-button expand="block" (click)="listagem()">LISTAGEM PATRIMONIAL</ion-button>
    </ng-template>
  </ion-modal>


</ion-content>