<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary">
      <ion-button slot="end" fill="clear">
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="titulo" size="large">Listagem de Patrimônios</ion-title>

  <ion-accordion-group #accordionGroup *ngFor="let patrimonio of patrimonios">
    <ion-accordion class="listagem" value={{patrimonio.id}} toggleIcon="disabled">

      <ion-item slot="header" color="light">
        <ion-label>
          <h3>{{patrimonio.plaqueta}}</h3>
          <p>{{patrimonio.descricao}}</p>

          <ion-fab vertical="center" horizontal="end">
            <ion-fab-button>
              <ion-icon name="settings-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="start">
              <ion-fab-button (click)="editarSelecionado(patrimonio.id)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="transferirSelecionado(patrimonio.id)">
                <ion-icon name="move-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="baixarSelecionado(patrimonio.id)">
                <ion-icon name="download-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-label>
          <ion-item-divider>
            <h3><span>Descrição:</span> {{patrimonio.descricao}}</h3>
          </ion-item-divider>
          <ion-item-divider>
          <h3><span>Departamento:</span> {{patrimonio.departamento.nome}}</h3>
          </ion-item-divider>
          <ion-item-divider>
          <h3><span>Localização:</span> {{patrimonio.localizacao}}</h3>
          </ion-item-divider>
          <ion-item-divider>
          <h3><span>Estado:</span> {{patrimonio.estado}}</h3>
          </ion-item-divider>
          <ion-item-divider>
          <h4><span>Data de Entrada:</span> {{patrimonio.dataEntrada | date: 'dd/MM/yyyy'}}</h4>
          </ion-item-divider>
          <ion-item-divider>
          <h4><span>Obs.:</span> {{patrimonio.observacao}}</h4>
          </ion-item-divider>
        </ion-label>
      </div>

    </ion-accordion>
  </ion-accordion-group>

  <div class="botoes">
    <ion-button expand="block">GERAR RELATÓRIO</ion-button>
  </div>

</ion-content>

<ion-footer class="rodape">
  <ion-toolbar color="primary">
    <ion-title>Desenvolvido por © <span>JSsoftware</span></ion-title>
  </ion-toolbar>
</ion-footer>