.filtro{
    padding: 1%;
    ion-input{
        --border-color: #000;
        --highlight-color-focused: #000;
        --highlight-color-valid: #000;
        --highlight-color-invalid: var(--ion-color-danger-shade);
    }
}

.listagem{
    border-bottom: 1px solid var(--ion-color-secondary);

    .ion-padding, .listagem_descricao{
        background: var(--ion-color-light);
    }

    p{
        color: black;

        span{
            font-weight: 600;
        }
    }

    .opcoes-alterar{
        --background: transparent;
        --background-activated: transparent;
        --background-hover: transparent;
        --border-radius: 15px;
        --box-shadow: transparent;
        --color: black !important;
    }

    ion-fab-button {
        --background: var(--ion-color-primary);
        --background-activated: var(--ion-color-primary);
        --background-hover: var(--ion-color-secondary);
        --border-radius: 15px;
        --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        --color: #FFF !important;
    }

    .editar{
        --background: var(--ion-color-warning-shade);
    }

    .transferir{
        --background: var(--ion-color-tertiary-shade)
    }

    .baixar{
        --background: var(--ion-color-danger-shade);
    }
}

.botoes {
    display: flex;
    justify-content: right;

    ion-button {
        border-radius: 80;
        padding: 15px;
        height: auto;
    }
}