<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary">   
      <ion-button slot="end" fill="clear" >
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="titulo" size="large">Listagem de Patrimônios</ion-title>

  <ion-accordion-group #accordionGroup *ngFor="let patrimonio of patrimonios">
    <ion-accordion value={{patrimonio.id}} toggleIcon="caret-down-circle">

      <ion-item slot="header" color="light" >
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>
          <h3>{{patrimonio.plaqueta}}</h3>
          <p>{{patrimonio.descricao}}</p>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-label>
          <h3>Depto: {{patrimonio.departamento.nome}}</h3>
          <h3>Localização: {{patrimonio.localizacao}}</h3>
          <h3>Estado: {{patrimonio.estado}}</h3>
          <h4>Data de Entrada: {{patrimonio.dataEntrada | date: 'dd/MM/yyyy'}}</h4>
          <h4>Obs.: {{patrimonio.observacao}}</h4>
        </ion-label>
      </div>

    </ion-accordion>
  </ion-accordion-group>

  <div class="botoes">
    <ion-button expand="block" (click)="editarSelecionado()">EDITAR SELECIONADO</ion-button>
    <ion-button expand="block" (click)="transferirSelecionado()">TRANSFERIR SELECIONADO</ion-button>
    <ion-button expand="block" (click)="baixarSelecionado()">BAIXAR SELECIONADO</ion-button>
    <ion-button expand="block">GERAR RELATÓRIO</ion-button>
  </div>

</ion-content>

<ion-footer class="rodape">
  <ion-toolbar color="primary">
    <ion-title>Desenvolvido por © <span>JSsoftware</span></ion-title>
  </ion-toolbar>
</ion-footer>