.toolbar ion-button{
    width: 50px;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col{
    display: inline-block;
    text-align: right;
}

.toolbar h3, p{
    margin: -2px;
}

.titulo{
    font-size: 1.3rem;
    text-align: center;
    padding: 4%;
    font-weight: 600;
}

.listagem{
    padding: 1px;

    ion-label{
        padding-left: 1px;
    }

    .opcoes-alterar{
        --background: transparent;
        --background-activated: transparent;
        --background-hover: transparent;
        --border-radius: 15px;
        --box-shadow: transparent;
        --color: black !important;
    }

    ion-fab-button {
        --background: var(--ion-color-primary);
        --background-activated: var(--ion-color-primary);
        --background-hover: var(--ion-color-secondary);
        --border-radius: 15px;
        --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        --color: #FFF !important;
    }

    span{
        font-weight: 600;
    }
}

.botoes ion-button{
    border-radius: 80;
    padding: 1%;
}