.formulario {
    border-radius: 10px;
    background: var(--ion-color-light);

    ion-input {
        --border-color: #000;
        --highlight-color-focused: #000;
        --highlight-color-valid: #000;
        --highlight-color-invalid: var(--ion-color-danger-shade);
    }

    .sessao{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        p{
            font-weight: 600;
        }
    }

    ion-col{
        padding-top: 0;
    }

    .patrimonio{
        padding-left: 5px;

        span{
            display: flex;
            margin-bottom: -5px;
            font-weight: 600;
        }
    }

    .botoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;

        ion-button {
            border-radius: 80;
            padding: 15px;
            height: auto;
        }
    }
}

app-forms{
    padding-bottom: 10px;
}
