.toolbar ion-button{
    width: 50px;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col{
    display: inline-block;
    text-align: right;
}

.toolbar h3, p{
    margin: -2px;
}

.titulo{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 4%;
    font-weight: 600;
}

.titulo-secao-form{
    text-align: center;
    padding: 1%;
}

.formulario{
    padding: 1%;

    ion-item-divider{
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 20px;
        --padding-end: 10px;

        p{
            font-weight: 600;
        }
    }
}

.botoes ion-button{
    border-radius: 80;
    padding: 1%;
}
