.header ion-button{
    padding-right: 1%;
}

.titulo{
    text-align: center;
    padding: 2%;
    font-weight: 600;
}

.titulo-secao-form{
    text-align: center;
    padding: 1%;
}

.formulario{
    padding: 1%;
}

.botoes ion-button{
    border-radius: 80;
    padding: 1%;
}


.rodape ion-title{
    text-align: center;
    font-size: 80%;
}

.rodape span{
    font-weight: 800;
}