<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary">
      <ion-button slot="end" fill="clear">
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="titulo" size="large">Listagem de Usuários</ion-title>

  <ion-accordion-group #accordionGroup *ngFor="let usuario of usuarios">
    <ion-accordion value={{usuario.id}} toggleIcon="caret-down-circle">
      <ion-item slot="header" color="light">
        <ion-checkbox slot="start" disabled={{disabled}} value={{usuario.id}} (ionChange)="usuarioSelecionado($event)"></ion-checkbox>
        <ion-label>
          <h3>{{usuario.nome}}</h3>
          <p>{{usuario.departamento.nome}}</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-label>
          <h3>Telefone: {{usuario.telefone}}</h3>
          <h3>Email: {{usuario.email}}</h3>
          <h3>Empresa: {{usuario.departamento.empresa.nomeFantasia}}</h3>
        </ion-label>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <div class="botoes">
    <ion-button expand="block">EDITAR SELECIONADO</ion-button>
    <ion-button expand="block" (click)="excluirSelecionado()">EXCLUIR SELECIONADO</ion-button>
    <ion-button expand="block">CADASTRAR NOVO USUÁRIO</ion-button>
  </div>
</ion-content>

<ion-footer class="rodape">
  <ion-toolbar color="primary">
    <ion-title>Desenvolvido por © <span>JSsoftware</span></ion-title>
  </ion-toolbar>
</ion-footer>