.toolbar ion-button{
    width: 50px;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col{
    display: inline-block;
    text-align: right;
}

.toolbar h3, p{
    margin: -2px;
}

.titulo{
    font-size: 1.3rem;
    text-align: center;
    padding: 4%;
    font-weight: 600;
}

.listagem{
    padding: 1px;

    ion-label{
        padding-left: 2px;
    }

    ion-fab-button {
        --background: transparent;
        --background-activated: transparent;
        --background-hover: transparent;
        --border-radius: 15px;
        --box-shadow: transparent;
        --color: black;
    }

    .editar{
        --background: var(--ion-color-warning-shade);
        
            --color: #FFF !important;
        
    }

    .excluir{
        --background: var(--ion-color-danger-shade);
        --color: #FFF !important;
    }
}

.botoes ion-button{
    border-radius: 80;
    padding: 1%;
}
