.layout{
    background: var(--ion-color-background);
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .layout_titulo{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
        color: #FFF;
    }
}