// .toolbar ion-button {
//     width: 50px;
//     align-self: center;
//     margin: auto;
//     display: flex;
// }

// .toolbar ion-col {
//     display: inline-block;
//     text-align: right;
// }

// .toolbar h3,
// p {
//     margin: -2px;
// }

ion-content{
    // --background: linear-gradient(0deg, rgba(57,57,57,1) 6%, rgba(2,40,89,1) 67%);
    --background: linear-gradient(0deg, rgba(5,108,242) 6%, rgba(2,40,89,1) 67%);;
    min-height: 100%;
}

/********************************************************\
                  MENSAGEM DE SAUDAÇÃO
\********************************************************/

// .boas-vindas-header-bg {
//     display: flex;
//     height: 90px;
//     margin: 4px;
//     text-align: center;
//     justify-content: center;
//     // background: var(--ion-color-primary);
//     // background: linear-gradient(210deg, rgba(255, 255, 255, 0.534) 05%, var(--ion-color-secondary) 80%);
//     // box-shadow: 0px 1px 20px var(--ion-color-primary);
//     margin-bottom: 5px;
//     // border-radius: 90px 80px 90px 30px;
//     // color: #FFF;

    
// }

.boas-vindas {
    display: grid;
    text-align: center;
    justify-content: center;
    // margin: -2px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;

    .data {
        text-transform: capitalize;
        font-size: 1.1rem;
    }

    p{
        margin: 0;
    }
}

/********************************************************\
                  BOTÕES DE OPÇOES
\********************************************************/
.opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

    ion-card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    ion-icon {
        font-size: 280%;
    }

    ion-card-header:hover {
        color: #dbd5d5;
        background: var(--ion-color-secondary);
        transition: 0.3s;
    }

    ion-card {
        border-radius: 20px;
        max-width: 121px;
        margin: 10px;
    }

    ion-card:hover{
        box-shadow: 0px 1px 8px #dbd5d5;
        transition: 0.4s;
    }

    ion-card-title {
        font-size: 1rem;
    }
}

/********************************************************\
                LOGO EMPRESA LICENCIADA
\********************************************************/
.licenciamento {
    display: table;
    margin: auto;
    padding: 3%;

    ion-img {
        max-width: 120px;
        padding: 2%;
    }

    p {
        font-size: 80%;
        align-items: center;
        text-align: center;
        font-weight: 700;
        color: #c9c0c0;
    }
}

/********************************************************\
                        RODAPÉ
\********************************************************/
.rodape {
    display: fixed;
    // background: var(--ion-color-primary);
    color: #FFF;
    padding-bottom: 2%;
    // margin: 0;
    // bottom: 0 !important;
    // left: 0 !important;
    width: 100%;

    p {
        text-align: center;
        font-size: 80%;
    }

    span {
        font-weight: 800;
    }
}

/*************************************************************\
|***********************-TELAS MAIORES-***********************|
\*************************************************************/

// @media (min-width: 700px) {

//     /********************************************************\
//                     MENSAGEM DE SAUDAÇÃO
//     \********************************************************/
//     .boas-vindas {
//         display: grid;
//         text-align: center;
//         margin: 0;
//         padding-top: 2%;
//         padding-bottom: 2%;
//     }

//     .boas-vindas {
//         font-size: 1.5rem;
//     }

//     .data {
//         text-transform: capitalize;
//         font-size: 1.5rem;
//         padding: 7px;
//     }

//     /********************************************************\
//                     BOTÕES DE OPÇOES
//     \********************************************************/

//     .opcoes ion-icon {
//         font-size: 400%;
//     }

//     .opcoes ion-card {
//         width: 60%;
//     }

//     /********************************************************\
//                     LOGO EMPRESA LICENCIADA
//     \********************************************************/
//     .licenciamento {
//         display: table;
//         margin: auto;
//         padding: 3%;

//         ion-img {
//             max-width: 150px;
//             padding: 2%;
//         }

//         p {
//             font-size: 80%;
//             align-items: center;
//             text-align: center;
//             font-weight: 700;
//             color: #c9c0c0;
//         }
//     }
// }


/*************************************************************\
|******************-ANIMAÇÃO DE BOAS VINDAS-******************|
\*************************************************************/

// .animated {
//     -webkit-animation-direction: 10s;
//     animation-duration: 10s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }

// @-webkit-keyframes bounceInUp {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(2000px);
//     }
//     60% {
//         opacity: 1;
//         -webkit-transform: translateY(-30px);
//     }
//     80% {

//         -webkit-transform: translateY(10px);
//     }
//     100% {
//         -webkit-transform: translateY(0);
//     }
// }

// .bounceInUp{
//     -webkit-animation-name: bounceInUp;
//     animation-name: bounceInUp;
// }

// @keyframes bounceInUp {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(20px);
//     }
//     60% {
//         opacity: 1;
//         -webkit-transform: translateY(-30px);
//     }
// 80% {

//     -webkit-transform: translateY(10px);
// }
// 100% {
//     -webkit-transform: translateY(0);
// }
// }