.toolbar ion-button{
    width: 50px;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col{
    display: inline-block;
    text-align: right;
}

.toolbar h3, p{
    margin: -2px;
}

/********************************************************\
                  MENSAGEM DE SAUDAÇÃO
\********************************************************/

.boas-vindas{
    display: grid;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.boas-vindas{
    font-size: 1.2rem;
}

.data{
    text-transform: capitalize;
    font-size: 1rem;
    padding: 7px;
}

/********************************************************\
                  BOTÕES DE OPÇOES
\********************************************************/

.opcoes ion-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.opcoes ion-icon{
    font-size: 280%;
}

.opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes ion-card{
    width: 121px;
}

.opcoes ion-card-title{
    font-size: 1rem;
}

/********************************************************\
                LOGO EMPRESA LICENCIADA
\********************************************************/

.licenciamento p {
    font-size: 80%;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: #c9c0c0;
    padding-top: 3%;
}

.licenciamento ion-img {
    margin-top: 5%;
    width: 10rem;
    align-self: center;
    margin: auto;
    display: flex;
    padding: 2%;
}

/********************************************************\
                        RODAPÉ
\********************************************************/
.rodape ion-title{
    text-align: center;
    font-size: 80%;
}

.rodape span{
    font-weight: 800;
}

/*************************************************************\
|***********************-TELAS MAIORES-***********************|
\*************************************************************/

@media (min-width: 700px) {
    /********************************************************\
                    MENSAGEM DE SAUDAÇÃO
    \********************************************************/
    .boas-vindas{
        display: grid;
        text-align: center;
        margin: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .boas-vindas{
        font-size: 1.5rem;
    }
    
    .data{
        text-transform: capitalize;
        font-size: 1.5rem;
        padding: 7px;
    }

    /********************************************************\
                    BOTÕES DE OPÇOES
    \********************************************************/

    .opcoes ion-icon{
        font-size: 400%;
    }

    .opcoes ion-card{
        width: 100%;
    }

    /********************************************************\
                    LOGO EMPRESA LICENCIADA
    \********************************************************/

    .licenciamento {
        margin: auto;
        padding: 0;
    }

    .licenciamento ion-img {
        margin-top: 5%;
        width: 15%;
        align-self: center;
        margin: auto;
        display: flex;
        padding: 1%;
    }
}