// * {
//   font-family: Georgia, 'Times New Roman', Times, serif;
// }

ion-content {
  --background: linear-gradient(to top, #B63766, #000);
}

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: var(--ion-color-primary);
  background: linear-gradient(90deg, var(--ion-color-primary) 0%, #8C0303 390%);
  box-shadow: 0px 1px 10px var(--ion-color-primary);
  margin-bottom: 10px;
  transform: rotate(6deg);
  border-radius: 90px 90px 90px 30px;
  margin-left: -10px;
  margin-top: -40px;
}

.header-content {
  position: absolute;
  top: 20px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    border-radius: 50%;
    margin-right: 14px;
  }

  h2 {
    font-weight: 300;
    color: #FFF;
  }

  p {
    font-size: 12px;
    color: #E4E4E4;
    font-weight: 100;
    letter-spacing: 0.5px;
  }
}

.botoes {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  ion-button {
    font-weight: 300;
    --background: var(--ion-color-primary-shade);
    color: #E4E4E4;
    --border-radius: 20px;

    ion-icon {
      justify-content: center;
      padding-right: 10px;
    }
  }
}

.menu-items {
  margin: 0px;
  font-weight: 200;

  ion-icon {
    margin-left: 20px;
    padding-right: 10px;
    // color: #86979F;
    color: #FFF;
  }

  ion-label{
    // color: #86979F;
    color: #FFF;
  }

  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
    --ion-background-color: transparent !important;
  }

  .active {
    border-left: 5px solid;
    color: #fff;
    padding-left: 15px;

    ion-icon {
      padding-right: 20px;
      color: #fff;
    }
  }
}

@media (max-width: 400px) {
  .menu-header-bg {
    height: 180px;
    width: 290px;
    background: var(--ion-color-primary);
    background: linear-gradient(90deg, var(--ion-color-primary) 0%, #8C0303 390%);
    box-shadow: 0px 1px 10px var(--ion-color-primary);
    margin-bottom: 20px;
    transform: rotate(6deg);
    border-radius: 90px 90px 90px 30px;
    margin-left: -35px;
    margin-top: -50px;
  }

  .header-content {
    position: absolute;
    top: 20px;
    left: 15px;
    display: flex;
    align-items: center;
  
    img {
      width: 70px;
      height: 70px;
      border: 2px solid #FFF;
      border-radius: 50%;
      margin-right: 14px;
    }
  
    h2 {
      font-weight: 300;
      color: #FFF;
    }
  
    p {
      font-size: 10px;
      color: #E4E4E4;
      font-weight: 100;
      letter-spacing: 0.5px;
    }
  }

  .menu-items {
    margin: 0px;
    font-weight: 200;
  
    ion-icon {
      margin-left: 0px;
      padding-right: 10px;
      color: #FFF;
    }
  
    ion-label{
      color: #FFF;
    }
  
    ion-item {
      padding-left: 10px;
      margin-bottom: 10px;
      --ion-background-color: transparent !important;
    }
  
    .active {
      border-left: 5px solid;
      color: #fff;
      padding-left: 15px;
  
      ion-icon {
        padding-right: 14px;
        color: #fff;
      }
    }
  }
}

// ion-menu ion-content {
//   --background: var(--ion-item-background, var(--ion-background-color, #fff));
// }

// ion-menu.md ion-content {
//   --padding-start: 8px;
//   --padding-end: 8px;
//   --padding-top: 20px;
//   --padding-bottom: 20px;
// }

// ion-menu.md ion-list {
//   padding: 20px 0;
// }

// ion-menu.md ion-note {
//   margin-bottom: 30px;
// }

// ion-menu.md ion-list-header,
// ion-menu.md ion-note {
//   padding-left: 10px;
// }

// ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }

// ion-menu.md ion-list#inbox-list ion-list-header {
//   font-size: 22px;
//   font-weight: 600;

//   min-height: 20px;
// }

// ion-menu.md ion-list#labels-list ion-list-header {
//   font-size: 16px;

//   margin-bottom: 18px;

//   color: #757575;

//   min-height: 26px;
// }

// ion-menu.md ion-item {
//   --padding-start: 10px;
//   --padding-end: 10px;
//   border-radius: 4px;
// }

// ion-menu.md ion-item.selected {
//   --background: rgba(var(--ion-color-primary-rgb), 0.14);
// }

// ion-menu.md ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.md ion-item ion-icon {
//   color: #616e7e;
// }

// ion-menu.md ion-item ion-label {
//   font-weight: 500;
// }

// ion-menu.ios ion-content {
//   --padding-bottom: 20px;
// }

// ion-menu.ios ion-list {
//   padding: 20px 0 0 0;
// }

// ion-menu.ios ion-note {
//   line-height: 24px;
//   margin-bottom: 20px;
// }

// ion-menu.ios ion-item {
//   --padding-start: 16px;
//   --padding-end: 16px;
//   --min-height: 50px;
// }

// ion-menu.ios ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.ios ion-item ion-icon {
//   font-size: 24px;
//   color: #73849a;
// }

// ion-menu.ios ion-list#labels-list ion-list-header {
//   margin-bottom: 8px;
// }

// ion-menu.ios ion-list-header,
// ion-menu.ios ion-note {
//   padding-left: 16px;
//   padding-right: 16px;
// }

// ion-menu.ios ion-note {
//   margin-bottom: 8px;
// }

// ion-note {
//   display: inline-block;
//   font-size: 16px;

//   color: var(--ion-color-medium-shade);
// }

// ion-item.selected {
//   --color: var(--ion-color-primary);
// }