<ion-app>
  <!-- <ion-split-pane contentId="main-content"> -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <!--USUÁRIO (foto | nome/email)-->
        <div class="menu-header-bg"></div>
        <div class="header-content">
          <img src="../assets/user-icon-logado.png" alt="Foto do Usuário" />
          <ion-label>
            <h2>Usuário Teste</h2>
            <p>falecom@joaosoares.dev.br</p>
          </ion-label>
        </div>

        <!--Botão do PERFIL e SAIR-->
        <div class="botoes">
          <ion-button fill="clear" expand="block"><ion-icon name="contrast"></ion-icon></ion-button>
          <ion-button fill="clear" expand="block"><ion-icon name="person-outline"></ion-icon>Perfil</ion-button>
          <ion-button fill="clear" expand="block" (click)="sairSistema()"><ion-icon
              name="exit-outline"></ion-icon>Sair</ion-button>
        </div>

        <!--Páginas-->
        <div class="menu-items" lines="none">
          <ion-menu-toggle auto-hide="false">

            <!--Home-->
            <ion-item routerLinkActive="active" routerLink="/home">
              <ion-icon name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <!--Patrimônios-->
            <div class="sessao">
              <p>
                Patrimonio
              </p>
            </div>
            <ion-item routerLinkActive="active" routerLink="/listagem-patrimonios">
              <ion-icon name="albums"></ion-icon>
              <ion-label>Listagem</ion-label>
            </ion-item>
            <ion-item routerLinkActive="active" routerLink="/cadastrar-patrimonio">
              <ion-icon name="add-circle"></ion-icon>
              <ion-label>Cadastro</ion-label>
            </ion-item>
            <ion-item routerLinkActive="active" routerLink="/log-alteracao">
              <ion-icon name="help-circle"></ion-icon>
              <ion-label>Consultas</ion-label>
            </ion-item>
            <!--Departamentos-->
            <div class="sessao">
              <p>
                Departamento
              </p>
            </div>
            <ion-item routerLinkActive="active" routerLink="/listagem-departamentos">
              <ion-icon name="copy"></ion-icon>
              <ion-label>Listagem</ion-label>
            </ion-item>
            <ion-item routerLinkActive="active" routerLink="/cadastrar-departamento">
              <ion-icon name="create"></ion-icon>
              <ion-label>Cadastro</ion-label>
            </ion-item>
            <!--Usuários-->
            <div class="sessao">
              <p>
                Gerenciamento
              </p>
            </div>
            <ion-item routerLinkActive="active" routerLink="/listagem-usuarios">
              <ion-icon name="people"></ion-icon>
              <ion-label>Usuários</ion-label>
            </ion-item>
            <ion-item routerLinkActive="active" routerLink="/cadastrar-usuario">
              <ion-icon name="person-add"></ion-icon>
              <ion-label>Cadastrar Usuário</ion-label>
            </ion-item>

            <!--Suporte-->
            <div class="sessao">
              <p>
                Suporte
              </p>
            </div>
            <ion-item routerLinkActive="active" routerLink="/404">
              <ion-icon name="information-circle"></ion-icon>
              <ion-label>Preciso de Ajuda</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>