<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary" lines="none">
      <ion-button slot="end" fill="clear">
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <p>Editar Patrimônio</p>
  </div>

  <form #form="ngForm" [formGroup]="editarPatrimonioForm" *ngIf="editarPatrimonioForm" (ngSubmit)="submit()">
    <ion-list class="formulario">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item disabled="true">
              <ion-label position="floating">Plaqueta</ion-label>
              <ion-input formControlName="plaqueta"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item disabled="true">
              <ion-label position="floating">Data Entrada</ion-label>
              <ion-input value=" ">{{data | date: 'dd/MM/yyyy'}}</ion-input>
              <!--'value' com um espaço vazio para que a posição do 'ion-label' fique correta-->
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-input fill="outline" label="Descrição" labelPlacement="floating" formControlName="descricao"
              type="text" placeholder="Notebook 8 GB Ram, 500 GB HD, Marca..."></ion-input>
            <small class="error-message" *ngIf="editarPatrimonioForm.get('descricao')?.errors && form.submitted">
              Informe a descricao
            </small>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input fill="outline" label="Localização" labelPlacement="floating" formControlName="localizacao"
              type="text" placeholder="Sala 01"></ion-input>
            <small class="error-message" *ngIf="editarPatrimonioForm.get('localizacao')?.errors && form.submitted">
              Informe a localizacao
            </small>
          </ion-col>

          <ion-col>
            <ion-item disabled="true">
              <ion-label position="floating">Departamento</ion-label>
              <ion-input value={{depto}}></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-select fill="outline" label="Estado de Conservação" labelPlacement="floating" interface="popover"
              formControlName="estado">
              <ion-select-option>EXCELENTE</ion-select-option>
              <ion-select-option>BOM</ion-select-option>
              <ion-select-option>DANIFICADO</ion-select-option>
            </ion-select>

            <small class="error-message" *ngIf="editarPatrimonioForm.get('estado')?.errors && form.submitted">
              Informe o estado de conservação
            </small>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-textarea fill="outline" label="Observações" labelPlacement="floating" formControlName="observacao"
              type="text" placeholder="Equipamento veio sem cabo"></ion-textarea>
            <small class="error-message" *ngIf="editarPatrimonioForm.get('observacao')?.errors && form.submitted">
              Informe a(as) observacao(oes)
            </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <div class="termo">
      <ion-checkbox checked={{checked}} (ionChange)="clicou($event)"></ion-checkbox>
      <p>Estou ciente que qualquer alteração realizada ficará visível no Banco de Dados</p>
    </div>

    <div class="botoes">
      <ion-button expand="block" type="submit" disabled={{disabled}}>SALVAR EDIÇÃO</ion-button>
      <ion-button expand="block" (click)="cancelar()">DESCARTAR ALTERAÇÕES</ion-button>
    </div>
  </form>
</ion-content>
