/**********************************************************\
|                    FORMULÁRIO                            |
\**********************************************************/
.formulario {
    border-radius: 10px;
    background: var(--ion-color-light);

    ion-input,
    ion-select,
    ion-textarea {
        --border-color: #000;
        --highlight-color-focused: #000;
        --highlight-color-valid: #000;
        --highlight-color-invalid: var(--ion-color-danger-shade);
    }

    .botoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    
        ion-button {
            border-radius: 80;
            padding-right: 15px;
            height: auto;
        }
    }
}

/**********************************************************\
|           ********* VALIDAÇÕES DO FORM *********          |
\**********************************************************/
small.error-message {
    color: var(--ion-color-danger);
}

.invalid {
    border-bottom: 2px solid var(--ion-color-danger);
}