<ion-content [fullscreen]="true">
  <div class="header">
    <div class="header_img">
      <img src="assets/logo-ss-tech-png.png" alt="Logo JS Software">
    </div>
    <div class="header_texto">
      <p>Controle</p>
      <p>Patrimonial</p>
    </div>
  </div>

  <div class="login-form">
    <div class="login-form-div">
      <div class="login-texto">
        <p>Login</p>
      </div>

      <form #form="ngForm" [formGroup]="loginForm" *ngIf="loginForm"
        (ngSubmit)="submit()">
        <ion-row>
          <ion-col>
            <ion-input class="custom" label="Usuário" labelPlacement="floating" fill="outline"
              placeholder="usuario@joaosoares.dev.br" formControlName="email"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input [type]="typeSenha" class="custom" label="Senha" labelPlacement="floating" fill="outline"
            placeholder="Sua senha" formControlName="senha"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="exibe-senha">
              Exibir senha <ion-checkbox (ionChange)="verSenha()"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit">Acessar <ion-icon name="enter"></ion-icon></ion-button>
            <a href="">Esqueceu a senha?</a>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>

  <div class="rodape">
    <p>Desenvolvido por © <span><a href="http://www.joaosoares.dev.br" target="_blank">SS Tech</a></span></p>
  </div>
</ion-content>