ion-content {
    --padding-top: 6%;
}

ion-img {
    margin-top: 5%;
    width: 70%;
    align-self: center;
    margin: auto;
    display: flex;
    padding: 2%;
}

.titulo {
    text-align: center;
    justify-content: center;
    vertical-align: baseline;
    font-size: 150%;
    font-weight: 700;
}

ion-avatar {
    margin: auto;
}

.licenciamento {
    margin: auto;
    padding: 5%;
}

.licenciamento p {
    font-size: 80%;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: #c9c0c0;
}

.licenciamento ion-img {
    margin-top: 5%;
    width: 40%;
    align-self: center;
    margin: auto;
    display: flex;
    padding: 2%;
}

.rodape ion-title {
    text-align: center;
    font-size: 80%;
}

.rodape span {
    font-weight: 800;
}

/*TELAS MAIORES*/

@media (min-width: 700px) {
    ion-content {
        --padding-top: 2%;
    }    

    ion-img {
        margin-top: 5%;
        width: 55%;
        align-self: center;
        margin: auto;
        display: flex;
        padding: 2%;
    }

    .titulo {
        text-align: center;
        justify-content: center;
        vertical-align: baseline;
        font-size: 250%;
        font-weight: 700;
    }

    ion-list{
        padding-left: 30%;
        padding-right: 30%;
    }

    .licenciamento {
        margin: auto;
        padding: 0;
    }

    .licenciamento ion-img {
        margin-top: 5%;
        width: 15%;
        align-self: center;
        margin: auto;
        display: flex;
        padding: 1%;
    }
}