ion-content {
    --padding-top: 6%;
    --background: linear-gradient(to top, #B63766, #fff)
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .header_img {
        margin-top: 5%;
        max-width: 110px;
        align-self: center;
        padding: 2%;
    }

    .header_texto {
        line-height: 1px;
        font-size: 180%;
        font-weight: 700;
    }
}

.login-form {
    padding-left: 10%;
    padding-right: 10%;

    .foto-usuario {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }

    .foto-usuario img {
        text-align: center;
        border-radius: 50%;
        border: 3px solid var(--ion-color-primary);
        min-width: 60px;
        max-width: 80px;
    }

    a {
        color: black;
    }
}

// CONFIGURAÇÕES GERAIS
ion-input {
    --border-color: #000 !important;
}

// PROPRIEDADE DO ION-INPUT
.ion-valid.sc-ion-input-md-h {
    --highlight-color: #000;
}

.licenciamento {
    display: table;
    margin: auto;
    padding: 1%;

    .licenciamento_img {
        max-width: 120px;
    }

    .licenciamento_texto {
        font-size: 80%;
        align-items: center;
        text-align: center;
        font-weight: 700;
        color: #c9c0c0;
    }
}

.rodape{
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFF;

    p{
        text-align: center;
        font-size: 80%;
    }

    span{
        font-weight: 800;
    }
}

/*TELAS MAIORES*/

@media (min-width: 700px) {
    ion-content {
        --padding-top: 0;
        --background: linear-gradient(to top, #B63766, #fff)
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .header_img {
            margin-top: 5%;
            max-width: 150px;
            align-self: center;
            padding: 2%;
        }

        .header_texto {
            line-height: 1px;
            font-size: 180%;
            font-weight: 700;
        }
    }

    .login-form {
        padding-left: 35%;
        padding-right: 35%;

        .foto-usuario {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 15px;
        }

        .foto-usuario img {
            text-align: center;
            border-radius: 50%;
            border: 3px solid var(--ion-color-primary);
            min-width: 60px;
            max-width: 80px;
        }

        a {
            color: black;
        }
    }

    .licenciamento {
        .licenciamento_img {
            max-width: 150px;
        }
    }
}

@media (min-width: 1060px) {
    ion-content {
        --padding-top: 0;
        --background: linear-gradient(to top, #B63766, #fff)
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .header_img {
            margin-top: 5%;
            max-width: 230px;
            align-self: center;
            padding: 2%;
        }

        .header_texto {
            line-height: 1px;
            font-size: 280%;
            font-weight: 700;
        }
    }

    .login-form {
        padding-left: 40%;
        padding-right: 40%;

        .foto-usuario {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 15px;
        }

        .foto-usuario img {
            text-align: center;
            border-radius: 50%;
            border: 3px solid var(--ion-color-primary);
            min-width: 60px;
            max-width: 80px;
        }

        a {
            color: black;
        }
    }

    .licenciamento {
        .licenciamento_img {
            max-width: 150px;
        }
    }
}