.toolbar ion-button{
    width: 50px;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col{
    display: inline-block;
    text-align: right;
}

.toolbar h3, p{
    margin: -2px;
}

.titulo{
    font-size: 1.3rem;
    text-align: center;
    padding: 4%;
    font-weight: 600;
}

.formulario{
    padding: 1%;
    ion-input, ion-select, ion-textarea {
        --border-color: #000;
    }
}

// ***** VALIDAÇÕES DO FORM *********
small.error-message{
    color: var(--ion-color-primary);
}

.invalid{
    border-bottom: 2px solid red;
}

// ************************************

.botoes ion-button{
    border-radius: 80;
    padding: 1%;
}
