.toolbar ion-button, img{
    width: 40%;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col{
    display: inline-block;
    text-align: right;
}

.toolbar h3, p{
    margin: -2%;
}

.titulo{
    text-align: center;
    padding: 2%;
    font-weight: 600;
}

.formulario{
    padding: 1%;
}

.botoes ion-button{
    border-radius: 80;
    padding: 1%;
}


.rodape ion-title{
    text-align: center;
    font-size: 80%;
}

.rodape span{
    font-weight: 800;
}