app-forms{
    padding-bottom: 10px;
}

/**********************************************************\
|                    FORMULÁRIO                            |
\**********************************************************/
.formulario {
    border-radius: 10px;
    background: var(--ion-color-light);

    .form-texto{
        text-align: left;
        font-weight: 600;
        padding: 1%;
    }

    ion-input, .col-senha {
        --border-color: #000;
        --highlight-color-focused: #000;
        --highlight-color-valid: #000;
        --highlight-color-invalid: var(--ion-color-danger-shade);
    }

    .foto-usuario {
        display: inline-grid;
        max-width: 30%;

        img{
            display: block; /* Remove o espaço em branco abaixo da imagem */
            width: 130px; /* Define a largura desejada */
            height: 130px; /* Define a altura igual à largura para manter a forma circular */
            border: 2px solid var(--ion-color-primary); /* Adiciona a borda */
            border-radius: 50%; /* Torna as bordas arredondadas em um círculo */
            overflow: hidden; /* Garante que qualquer conteúdo além das bordas do círculo seja ocultado */
            object-fit: cover; /* Garante que a imagem preencha todo o contêiner sem distorção */
            cursor: pointer; /* Mostra que a imagem é clicável */
            margin: auto; /* Centraliza a imagem se o contêiner permitir */
        }

        .foto-button{
            background: none;
            // border: none;
        }
        

        .foto-buttons{
            display: flex;
            justify-content: center;
            a{
                text-decoration: none;
                color: var(--ion-color-primary);;
                cursor: pointer; /* Mostra que é clicável */
            }
        }
    }

    .usuario_nomes ion-input {
        margin-bottom: 16px;

        :last-child {
            margin-bottom: 0; /* Remove a margem do último item */
        }
    }

    .col-senha {
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .col-senha-input {
            --padding-bottom: 0 !important;
        }
    }

    .usuario_dados{

        p{
            padding-left: 5px;
        }

        span{
            font-weight: 600;
        }
    }

    .botoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    
        ion-button {
            border-radius: 80;
            padding-right: 15px;
            padding-left: 15px;
            height: auto;
        }
    }
}

/**********************************************************\
|           ********* VALIDAÇÕES DO FORM *********          |
\**********************************************************/
small.error-message {
    color: var(--ion-color-danger);
}

.invalid {
    border-bottom: 2px solid var(--ion-color-danger);
}


ion-modal {
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    &::part(content){
        max-width: 430px;
        max-height: 320px;
    }

    &::part(backdrop) {
        background: rgba(209, 213, 219);
        opacity: 1;
    
    }

    ion-toolbar {
        span {
            padding-left: 20px;
            font-weight: 600;
        }
    }

    .img_modal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;

        img{
            display: block; /* Remove o espaço em branco abaixo da imagem */
            width: 130px; /* Define a largura desejada */
            height: 130px; /* Define a altura igual à largura para manter a forma circular */
            overflow: hidden; /* Garante que qualquer conteúdo além das bordas do círculo seja ocultado */
            object-fit: cover; /* Garante que a imagem preencha todo o contêiner sem distorção */
            cursor: pointer; /* Mostra que a imagem é clicável */
            margin: auto; /* Centraliza a imagem se o contêiner permitir */
        }
    }

    .modal_botao{
        padding: 5px;
    }

    .button_modal{
        display: flex;
        justify-content: center;
    }


}

// estilo que era usado na edição de usuario

// .formulario {
//     padding-left: 2%;
//     padding-right: 2%;

//     .foto-usuario img{
//         display: flex;
//         align-self: center;
//         justify-content: center;
//         margin: auto;
//         width: 130px;
//     }
  
//     ion-input, ion-select {
//       --border-color: #000;
//     }
// }

// // ***** VALIDAÇÕES DO FORM *********
// small.error-message{
//     color: var(--ion-color-primary);
// }

// .invalid{
//     border-bottom: 2px solid red;
// }

// // ************************************

// .botoes ion-button{
//     border-radius: 80;
//     padding: 1%;
// }



