app-forms{
    padding-bottom: 10px;
}

/**********************************************************\
|                    FORMULÁRIO                            |
\**********************************************************/
.formulario {
    border-radius: 10px;
    background: var(--ion-color-light);

    .form-texto{
        text-align: left;
        font-weight: 600;
        padding: 1%;
    }

    ion-input, .col-senha {
        --border-color: #000;
        --highlight-color-focused: #000;
        --highlight-color-valid: #000;
        --highlight-color-invalid: var(--ion-color-danger-shade);
    }

    .foto-usuario {
        display: inline-grid;

        img{
            align-self: center;
            justify-content: center;
            margin: auto;
            width: 130px;
            border: 2px solid var(--ion-color-primary);
        }

        .foto-buttons{
            display: flex;
            justify-content: center;
        }
    }

    .col-senha {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
        .col-senha-input {
            --padding-bottom: 0 !important;
        }
    }

    .botoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    
        ion-button {
            border-radius: 80;
            padding-right: 15px;
            padding-left: 15px;
            height: auto;
        }
    }
}

/**********************************************************\
|           ********* VALIDAÇÕES DO FORM *********          |
\**********************************************************/
small.error-message {
    color: var(--ion-color-danger);
}

.invalid {
    border-bottom: 2px solid var(--ion-color-danger);
}




// estilo que era usado na edição de usuario

// .formulario {
//     padding-left: 2%;
//     padding-right: 2%;

//     .foto-usuario img{
//         display: flex;
//         align-self: center;
//         justify-content: center;
//         margin: auto;
//         width: 130px;
//     }
  
//     ion-input, ion-select {
//       --border-color: #000;
//     }
// }

// // ***** VALIDAÇÕES DO FORM *********
// small.error-message{
//     color: var(--ion-color-primary);
// }

// .invalid{
//     border-bottom: 2px solid red;
// }

// // ************************************

// .botoes ion-button{
//     border-radius: 80;
//     padding: 1%;
// }



