.toolbar ion-button {
    width: 50px;
    align-self: center;
    margin: auto;
    display: flex;
}

.toolbar ion-col {
    display: inline-block;
    text-align: right;
}

.toolbar h3,
p {
    margin: -2px;
}

.aviso404 {
    background-color: var(--ion-color-secondary);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    //padding-top: 25%;
    color: #FFF;
    font-weight: 800;
    font-size: 140%;

    .aviso_texto_404 {
        font-size: 800%;
    }

    ion-icon{
        color: var(--ion-color-primary);
        font-size: 400%;
    }

}



/********************************************************\
                        RODAPÉ
\********************************************************/
.rodape {
    background: var(--ion-color-primary);
    color: #FFF;
    padding: 1%;
    margin: 0;

    p {
        text-align: center;
        font-size: 80%;
    }

    span {
        font-weight: 800;
    }
}