<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <app-layout [pagina]="'Editar Departamento'">
    <app-forms>
      <form #form="ngForm" [formGroup]="editarDepartamentoForm" *ngIf="editarDepartamentoForm" (ngSubmit)="submit()" class="formulario">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="Nome" labelPlacement="floating" formControlName="nome"
                  placeholder="Ex.: Administrativo" type="text"></ion-input>
                <small class="error-message" *ngIf="editarDepartamentoForm.get('nome')?.errors && form.submitted">
                  Informe o nome corretamente
                </small>
              </ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="Telefone" labelPlacement="floating" formControlName="telefone"
                  placeholder="Ex.: (67) 3461-0000" type="tel" (focusout)="validaTelefone()"></ion-input>
                <small class="error-message" *ngIf="editarDepartamentoForm.get('telefone')?.errors && form.submitted">
                  Informe o telefone corretamente
                </small>
              </ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="Email" labelPlacement="floating" formControlName="email"
                  placeholder="Ex.: administrativo@JSsoftware.com.br" type="email"></ion-input>
                <small class="error-message" *ngIf="editarDepartamentoForm.get('email')?.errors && form.submitted">
                  Informe o email corretamente
                </small>
              </ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="Endereco" labelPlacement="floating" formControlName="endereco"
                  placeholder="Ex.: Avenida Principal, 100 - Centro, Sala 02" type="text"></ion-input>
                <small class="error-message" *ngIf="editarDepartamentoForm.get('endereco')?.errors && form.submitted">
                  Informe o endereço corretamente
                </small>
              </ion-col>
            </ion-row>
    
          </ion-grid>
        </div>
    
        <div class="botoes">
          <ion-button expand="block" type="submit">SALVAR ALTERAÇÕES</ion-button>
          <ion-button expand="block" (click)="presentAlert()">DESCARTAR ALTERAÇÕES</ion-button>
        </div>
      </form>
    </app-forms>
  </app-layout>
</ion-content>