.layout {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

    .layout_form {
        border-radius: 80;
        max-width: 850px;
        margin: 0 auto;
    }
}
