.listagem{
    ion-item{
        border-bottom: 1px solid var(--ion-color-secondary);
    }

    p {
        color: black;

        span {
            font-weight: 600;
        }
    }

    ion-fab-button {
        --background: transparent;
        --background-activated: transparent;
        --background-hover: transparent;
        --border-radius: 15px;
        --box-shadow: transparent;
        --color: black;
    }

    .editar{
        --background: var(--ion-color-warning-shade);
        --color: #FFF !important;
    }

    .excluir{
        --background: var(--ion-color-danger-shade);
        --color: #FFF !important;
    }
}

.botoes {
    display: flex;
    justify-content: right;

    ion-button {
        border-radius: 80;
        padding: 15px;
        height: auto;
    }
}