<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary">   
      <ion-button slot="end" fill="clear" >
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="titulo" size="large">Listagem de Departamentos</ion-title>
  
  <ion-list class="listagem" *ngFor="let departamento of departamentos">

    <ion-item>
      <ion-checkbox slot="start" disabled={{disabled}} checked={{checked}} value={{departamento.id}} (ionChange)="departamentoSelecionado($event)"></ion-checkbox>
      <ion-label>
        <h3>{{departamento.nome}}</h3>
        <p>{{departamento.telefone}}</p>
        <p>{{departamento.email}}</p>
      </ion-label>
    </ion-item>

  </ion-list>


  <div class="botoes">
    <ion-button expand="block" (click)="editarSelecionado()">EDITAR SELECIONADO</ion-button>
    <ion-button expand="block" (click)="excluirSelecionado()">EXCLUIR SELECIONADO</ion-button>
    <ion-button expand="block" (click)="cadastrarDepartamento()">CADASTRAR NOVO DEPTO</ion-button>
  </div>
</ion-content>

<ion-footer class="rodape">
  <ion-toolbar color="primary">
    <ion-title>Desenvolvido por © <span>JSsoftware</span></ion-title>
  </ion-toolbar>
</ion-footer>