<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <app-layout [pagina]="'Listagem de Departamentos'">
    <app-lists>
      <ion-list class="listagem" *ngFor="let departamento of departamentos">

        <ion-item>
          <ion-label>
            <p><span>{{departamento.nome}}</span></p>
            <p>{{departamento.telefone}}</p>
            <p>{{departamento.email}}</p>

            <ion-fab vertical="center" horizontal="end">
              <ion-fab-button size="small">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-fab-button>

              <ion-fab-list side="start">
                <ion-fab-button (click)="editarSelecionado(departamento.id)" class="editar">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="excluirSelecionado(departamento.id)" class="excluir">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-label>
        </ion-item>

      </ion-list>

      <div class="botoes">
        <ion-button expand="block" (click)="cadastrarDepartamento()">CADASTRAR NOVO DEPTO</ion-button>
      </div>
    </app-lists>
  </app-layout>

  <!-- <div class="titulo">
    <p>Listagem de Departamentos</p>
  </div>

  <ion-list class="listagem" *ngFor="let departamento of departamentos">

    <ion-item>
      <ion-label>
        <h3>{{departamento.nome}}</h3>
        <p>{{departamento.telefone}}</p>
        <p>{{departamento.email}}</p>

        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button size="small">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-fab-button>

          <ion-fab-list side="start" >
            <ion-fab-button (click)="editarSelecionado(departamento.id)" class="editar">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="excluirSelecionado(departamento.id)" class="excluir">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-label>
    </ion-item>

  </ion-list>

  <div class="botoes">
    <ion-button expand="block" (click)="cadastrarDepartamento()">CADASTRAR NOVO DEPTO</ion-button>
  </div> -->
</ion-content>