<ion-header [translucent]="true" class="header">
  <ion-toolbar color="primary">

    <ion-button slot="end">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
    
    <ion-title>Usuário</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="titulo" size="large">Listagem de Departamentos</ion-title>
  
  <ion-list class="listagem">

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        <h3>NOME DEPTO</h3>
        <p>Email e Telefone</p>
      </ion-label>
      <ion-button fill="clear">
        <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>


  <div class="botoes">
    <ion-button expand="block">EDITAR SELECIONADO</ion-button>
    <ion-button expand="block">EXCLUIR SELECIONADO</ion-button>
    <ion-button expand="block">CADASTRAR NOVO DEPTO</ion-button>
  </div>
</ion-content>

<ion-footer class="rodape">
  <ion-toolbar color="">
    <ion-title size="">Desenvolvido por © <span>JSsoftware</span></ion-title>
  </ion-toolbar>
</ion-footer>