.toolbar ion-button {
  width: 50px;
  align-self: center;
  margin: auto;
  display: flex;
}

.toolbar ion-col {
  display: inline-block;
  text-align: right;
}

.toolbar h3,
p {
  margin: -2px;
}

.titulo {
  text-align: center;
  padding-top: 4%;
  font-weight: 700;
}

.formulario {
  padding-left: 2%;
  padding-right: 2%;

  ion-input, ion-select {
    --border-color: #000;
  }
}

// ***** VALIDAÇÕES DO FORM *********
small.error-message {
  color: var(--ion-color-primary);
}

.invalid {
  border-bottom: 2px solid red;
}

// ************************************

.foto-perfil {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 50%;
    border: 3px solid var(--ion-color-primary);
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }
}

.foto-perfil-input{
  display: flex;
  align-items: center;
}

.botoes ion-button {
  border-radius: 80;
  padding: 1%;
}

.rodape ion-title {
  text-align: center;
  font-size: 80%;
}

.rodape span {
  font-weight: 800;
}