<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <app-layout [pagina]="'Cadastrar Usuário'">
    <app-forms>
      <form #form="ngForm" [formGroup]="usuarioForm" (ngSubmit)="submit()" class="formulario">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="Nome" labelPlacement="floating" formControlName="nome" type="text" 
                  placeholder="Samara Sudano"></ion-input>
                <small class="error-message" *ngIf="usuarioForm.get('nome')?.errors && form.submitted">
                  Informe o nome corretamente
                </small>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="CPF" labelPlacement="floating" formControlName="cpf" type="numeric" 
                  placeholder="000.111.222-33" (focusout)="validaCPF()" [(ngModel)]="cpfFormatado"></ion-input>
                <small class="error-message" *ngIf="usuarioForm.get('nome')?.errors && form.submitted">
                  Informe o CPF corretamente
                </small>
              </ion-col>

              <ion-col>
                <ion-input fill="outline" label="Telefone" labelPlacement="floating" formControlName="telefone" type="tel" 
                  placeholder="(00) 90000-0000" (focusout)="validaTelefone()"></ion-input>
                <small class="error-message" *ngIf="usuarioForm.get('nome')?.errors && form.submitted">
                  Informe o telefone corretamente
                </small>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-input fill="outline" label="Email" labelPlacement="floating" formControlName="email" type="email" 
                  placeholder="samara.sudano@JSsoftware.com.br"></ion-input>
                <small class="error-message" *ngIf="usuarioForm.get('nome')?.errors && form.submitted">
                  Informe o Email corretamente
                </small>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-select fill="outline" label="Departamento" labelPlacement="floating" 
                  interface="popover" formControlName="departamento">

                  <ion-select-option *ngFor="let departamento of departamentos"
                    value={{departamento.id}}>{{departamento.nome}}</ion-select-option>

                 </ion-select>
              </ion-col>

              <ion-col>
                <ion-select fill="outline" label="Role" labelPlacement="floating" interface="popover" >

                  <ion-select-option>Administrador</ion-select-option>
                  <ion-select-option>Operador</ion-select-option>

                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="botoes">
          <ion-button expand="block" type="submit">SALVAR CADASTRO</ion-button>
        </div>
      </form>
    </app-forms>
  </app-layout>
</ion-content>