<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" color="primary">

    <ion-item color="primary" lines="none">
      <ion-button slot="end" fill="clear">
        <img alt="Foto do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-button>

      <ion-col>
        <p><span>Nome Usuário</span></p>
        <p>empresa</p>
      </ion-col>
    </ion-item>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

